{% extends 'blog/base.html' %}

{% block content %}
    <article class="post">
        <aside class="actions">
            <a class="btn btn-secondary" href="{% url 'post_edit' slug=post.slug %}">
              {% include './icons/pencil-fill.svg' %}
            </a>
        </aside>
        <p class="in">
            <img src="{{post.thumbnail_img.url}}" class="rounded_img" width="50" height="50"/>
            <span>{{ post.title }}</span>
        </p>
        <p>{{ post.text|linebreaksbr }}</p>
        <p><img src="{{post.feature_img.url}}" width="1200"/></p>
        <p><strong>Category:</strong> {{ post.category.name }}</p>
        <p><strong>Tags:</strong> {{ post.tags.all|join:", " }}</p>
    </article>
{% endblock %}