{% extends 'blog/base.html' %}

{% block content %}
    <article class="post">
        <aside class="actions">
            <a class="btn btn-secondary" href="{% url 'post_edit' slug=post.slug %}">
              {% include './icons/pencil-fill.svg' %}
            </a>
        </aside>
        <p><h2>{{ post.title }}</h2></p>
        <p>{{ post.text|linebreaksbr }}</p>
        <p>Category : {{ post.category.name }}</p>
        <p><img src="{{post.category.image.url}}" width="120"/></p>
    </article>
{% endblock %}