{% extends 'blog/base.html' %}

{% block content %}
    {% for post in post_list %}
        <article class="post">
            <time class="date">
                {{ post.published_date }}
            </time>
            <h2><a href="{% url 'post_detail' slug=post.slug %}">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
            <p><strong>Category:</strong> {{ post.category.name }}</p>
            <p><strong>Tags:</strong> {{ post.tags.all|join:", " }}</p>
        </article>
    {% endfor %}
{% endblock %}