{% extends 'blog/base.html' %}
{% load static %}   
{% block content %}
        <article class="post">
            {% if user.user_img %}
                <img src="{{user.user_img.url}}" width="200" alt="">
            {% endif %}
            <a href="{% url 'update_profile' pk=user.pk %}"><i class="bi bi-pencil-square"></i></a>
            <p>Name : {{user.first_name}}</p>
            <p>Email            : {{user.email}}</p>
            <p>Gender           : {{user.gender}}</p>
            <p>DOB              : {{user.date_of_birth}}</p>
            <p>Phone number     : {{user.phone_no}}</p>
            <p>City             : {{user.city}}</p>
            <p>State            : {{user.state}}</p>
            <p>Country          : {{user.country}}</p>
        </article>
{% endblock %}

